################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/GisyWeb/CopilotIndices/17.14.1681.23550
